/* MEDIA QUERIES */

:root {
    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
}

@media screen and (max-width: 834px) {

    /* HEADER STYLING */
    .navlist,
    .desktop-action .btn {
        display: none;
    }

    .desktop-action .hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px, rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
        transition: all .5s ease-in-out;
    }

    .mobile-menu-active {
        left: 50%;
        transform: translateX(-50%);
    }

    /* SECTION STYLING */

    /* HERO STYLING */

    h1 {
        font-size: 3.6rem;
    }

    .content {
        padding-top: 3rem;
    }

    .gap-2 {
        gap: 1.4rem;
    }

    .gap-4 {
        gap: 4rem;
    }

    .hero-section .image-container img {
        min-width: 395px;
        min-height: 388px;
    }


    /* SECTION 01 */

    h2 {
        font-size: 3rem
    }

    /* SECTION 03 */



    /* SECTION 04 */

    .app-container {
        padding: 2.2rem;
    }

    .app-container .content h2 {
        font-size: 3.5rem;
    }

}

@media screen and (max-width:1050px) {


    .center-text {
        text-align: center;
    }

    .wrapper .image-container img {
        width: 70%;
    }

}

@media screen and (max-width:717px) {
    .content {
        text-align: center;
    }

    .br-gap {
        display: none;
    }

    .hero-btn {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .hero-section .content .para {
        margin: 0 auto;
    }

    .wrapper .image-container img {
        width: 35%;
        min-width: 206px;
        min-height: 283px;
    }

}

@media screen and (max-width:834px) {
    .hero-section .content {
        min-width: 393px;
        min-height: 364px;
    }

    .hero-btn {
        flex-direction: column;
    }

    .content {
        text-align: center;
    }

    .br-gap {
        display: none;
    }

    .hero-btn {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .hero-section .content .para {
        margin: 0 auto;
    }

    .hero-section .image-container img {
        width: 50%;
        aspect-ratio: 1;
    }
}

@media screen and (max-width:570px) {
    .hero-section .image-container img {
        min-width: 0%;
        min-height: 0px;
        width: 70%;
    }

}

@media screen and (max-width:470px) {
    .hero-section .content {
        min-width: 0px;
        min-height: 0px;
    }
}

@media screen and (max-width:442px){
    .wrapper .image-container img {
        min-width: 0px;
        min-height: 0px;
        width: 50%;
    }

    .br-gap{
        display: none;
    }
}