/* MEDIA QUERIES */

:root{
    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
}

@media screen and (max-width: 834px){

    .navlist,
    .desktop-action .btn{
        display: none;
    }

    .desktop-action .hamburger{
        display: block;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.05) 8px 8px  8px, rgba(0, 0, 0, 0.05) inset;
        transition: all .5s ease-in-out;
    }

    .mobile-menu-active{
        left: 50%;
        transform: translateX(-50%);
    }
}